* {
    margin: 0;
    padding: 0;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: normal;

    list-style: none;
    text-decoration: none;
    line-height: 100%;

    box-sizing: border-box;

    background: transparent;
    border: none;

    color: inherit;
}

button {
    cursor: pointer;
}

/* Header. */

header {
    background-color: #333;
    color: #fff;
    
    padding: .5rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.tbl-simpan,
.tbl-muat {
    padding: .3rem .5rem;
    border-radius: .2rem;
    color: #fff;
    border: 1px solid #fff;
}

.tbl-simpan:hover,
.tbl-muat:hover {
    background-color: #fff;
    color: #333;
}

/* Main. */

main {
    padding: 1rem;
}

/* Papan. */

.papan {
    background-color: #eaeaea;

    border-radius: 10px;
    padding: 1rem;
}

.papan h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

/* Container input. */

.container-input {
    display: flex;
}

.container-input .input-tugas {
    width: 100%;
    padding: .2rem 1rem;

    /* border: 1px solid black; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;

    background-color: #fff;
}

.container-input .tbl-tambah {
    padding: 0 1rem;

    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: #333;
    color: #fff;
}

.container-input .tbl-tambah:hover {
    background-color: #555;
    cursor: pointer;
}

/* Tombol urut. */

.container-urut {
    display: none;
    margin-top: .5rem;
}

.container-urut button {
    padding: .5rem;
    border-right: 1px solid black;
}

.container-urut button:hover {
    background-color: #fff;
}

.container-urut .tbl-urut-nama {
    flex: 1;
    text-align: left;
    max-width: calc(100% - 55.41px - 65.02px - 45.81px);
}

/* Tugas. */

.tugas {
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.tugas .tbl-cek,
.tugas .tbl-edit,
.tugas .tbl-hapus,
.tugas p,
.tugas input {
    padding: .5rem;
    background-color: #fff;
}

.tugas .tbl-cek {
    border-right: 1px solid black;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.tugas .tbl-cek:hover {
    background-color: #44f84d;
}

.tugas .tbl-edit {
    border-left: 1px solid black;
}

.tugas .tbl-edit:hover {
    background-color: #ffee55;
}

.tugas .tbl-hapus {
    border-left: 1px solid black;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.tugas .tbl-hapus:hover {
    background-color: #ff695e;
}

.tugas p,
.tugas input {
    flex: 1;
    min-width: 0;
}

.tugas p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tugas.cek p,
.tugas.cek button {
    opacity: .5;
}

.tugas.cek button:hover {
    opacity: 1;
}

.tugas.cek p {
    text-decoration: line-through;
}

/* Modal. */

.container-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);

    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
}

.modal p {
    margin-bottom: 10px;
}

.modal div {
    display: flex;
    justify-content: flex-end;
}

.modal button {
    margin-left: .5rem;
    padding: .5rem 1rem;
    background-color: #fff;
    border-radius: .2rem;
    color: #fff;
}

.modal .tbl-tidak {
    background-color: #333;
}

.modal .tbl-lanjut {
    background-color: #ff695e;
}

.modal .tbl-tidak:hover,
.modal .tbl-lanjut:hover {
    opacity: .8;
}
